.login {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  &__container {
    padding: 3rem;
    &:last-of-type {
      margin-top: 3rem;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    .back__svg {
      width: 50px;
      height: 50px;
      border: 1px solid #66666657;
      border-radius: 50%;
      display: grid;
      place-items: center;
      cursor: pointer;
      &:hover {
        border-color: aqua;
        svg {
          fill: aqua;
        }
      }
      svg {
        width: 20px;
        height: 20px;
        fill: #222;
      }
    }
    span {
      font-weight: 6;
      font-size: 14px;
      // padding-left: 10px;
      a {
        color: aqua;
        cursor: pointer;
        border-bottom: 1px solid aqua;
        padding-bottom: 5px;
      }
    }
  }

  &__required {
    margin-left: auto;
    color: red;
    font-size: x-small;
  }

  &__form {
    margin-top: 1rem;
    h1 {
      font-size: 50px;
      font-weight: 600;
      margin: 0;
    }
    p {
      color: #9b9696;
    }

    form {
      margin-top: 2rem;
    }

    button {
      width: fit-content;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 6px 16px;
      border: none;
      border-radius: 9999px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 5px rgba(0, 0, 0, 0.24);
      transition: background-color 0.3s ease;
      background-color: #770c14;
      color: #ffffff;
      font-weight: 600;
    }

    button:hover {
      background-color: #fde047;
      color: black;
    }

    button:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
    }

    button:focus:not(:focus-visible) {
      box-shadow: none;
    }

    .forgot {
      //   margin-left: auto;
      color: #222;
      font-size: small;
      height: 40px;
      text-decoration: underline;
      &:hover {
        color: #770c14;
      }
    }
  }
}
