.login {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;

  @media (max-width :790px) {
    flex-direction: column;
    align-items: center;
  }

  &__container {
    padding: 3rem;
    &:last-of-type {
      margin-top: 3rem;
      @media (max-width: 790px) {
        margin-top: 0;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    .back__svg {
      width: 50px;
      height: 50px;
      border: 1px solid #66666657;
      border-radius: 50%;
      display: grid;
      place-items: center;
      cursor: pointer;
      &:hover {
        border-color: #770c14;
        svg {
          fill: #770c14;
        }
      }
      svg {
        width: 20px;
        height: 20px;
        fill: #222;
      }
    }
    span {
      font-weight: 6;
      font-size: 14px;
      // padding-left: 10px;
      a {
        color: black;
        cursor: pointer;
        border-bottom: 1px solid #770c14;
        padding-bottom: 5px;
      }
    }
  }

  &__required {
    margin-left: auto;
    color: red;
    font-size: x-small;
  }

  &__buttonco {
    width: fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 16px;
    margin-bottom: 1rem;
    border: none;
    border-radius: 9999px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 5px rgba(0, 0, 0, 0.24);
    transition: background-color 0.3s ease;
    background-color: #770c14;
    color: #ffffff;
    font-weight: 600;
    &:hover {
      background-color: #fde047;
      color: black;
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
    }
    &:focus:not(:focus-visible) {
      box-shadow: none;
    }
  }

  &__buttonsocial {
    display: flex;
    align-items: center;
    width: 17rem;
    padding: 0.5rem;
    border : 1px solid #c2c8d0;
    color: #2d333a;
    border-radius: 20px;
    &:hover {
      background-color: #fde047;
    }
  }


  &__form {
    margin-top: 1rem;
    h1 {
      font-size: 45px;
      font-weight: 600;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
    p {
      color: #9b9696;
    }

    form {
      margin-top: 2rem;
    }

    .forgot {
      //   margin-left: auto;
      color: #222;
      font-size: small;
      height: 40px;
      text-decoration: underline;
      &:hover {
        color: #770c14;
      }
    }
  }


}
